---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hi, I'm BP a..

  Before that I was reseracher...

  Prior to that I was working at Vaisala

  I design and prototype multi-platform websites and apps, sometimes developing
  branding and living styleguides if necessary. In the past I have also worked
  in print and illustration, producing album artwork, brochures and books.

  In 2017 I founded RiskSystemsScience Ltd

profile_picture: /images/profile-pictures/profile.jpg

Experience:
  - company: X
    position: PX
    period: Date - Date

Publications;
  - ERL 2017
  
education:
  - course: PhD
    place: Loughborough

skills:
  - bayes


tools:
  - python



<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "ben postance",
    "jobTitle": "ds",
    "nationality": "British",
    "url": "http://www.bpostance.github.io",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "London",
      "addressCountry": "United Kingdom"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro">
      <div class="about-intro-image paragraph-main">
        <img src="{{ page.profile_picture }}" alt="">
      </div>

      <div class="about-intro-description paragraph-main">
        {{ page.intro | markdownify }}
      </div>
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title">Tools &amp; Technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title">Skills</h3>
          <ul class="list--dashed list--small">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title">Colophon: about this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
